name: release

on:
  pull_request:
    paths:
      - .github/workflows/release.yaml
  push:
    tags:
      - v*

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - uses: actions/setup-node@v5
        with:
          node-version: 18
          cache: npm
      - run: npm ci
      - run: npm run clean
      - run: npm run build
      - uses: int128/release-typescript-action@v1
